@font-face {
  font-family: 'Cormorant';
  src: url('~@/assets/fonts/Cormorant-Regular.eot');
  src: url('~@/assets/fonts/Cormorant-Regular.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/Cormorant-Regular.woff2') format('woff2'),
  url('~@/assets/fonts/Cormorant-Regular.woff') format('woff'),
  url('~@/assets/fonts/Cormorant-Regular.ttf') format('truetype'),
  url('~@/assets/fonts/Cormorant-Regular.svg#Cormorant-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Cormorant';
  src: url('~@/assets/fonts/Cormorant-Medium.eot');
  src: url('~@/assets/fonts/Cormorant-Medium.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/Cormorant-Medium.woff2') format('woff2'),
  url('~@/assets/fonts/Cormorant-Medium.woff') format('woff'),
  url('~@/assets/fonts/Cormorant-Medium.ttf') format('truetype'),
  url('~@/assets/fonts/Cormorant-Medium.svg#Cormorant-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Cormorant';
  src: url('~@/assets/fonts/Cormorant-SemiBold.eot');
  src: url('~@/assets/fonts/Cormorant-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/Cormorant-SemiBold.woff2') format('woff2'),
  url('~@/assets/fonts/Cormorant-SemiBold.woff') format('woff'),
  url('~@/assets/fonts/Cormorant-SemiBold.ttf') format('truetype'),
  url('~@/assets/fonts/Cormorant-SemiBold.svg#Cormorant-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Cormorant';
  src: url('~@/assets/fonts/Cormorant-Bold.eot');
  src: url('~@/assets/fonts/Cormorant-Bold.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/Cormorant-Bold.woff2') format('woff2'),
  url('~@/assets/fonts/Cormorant-Bold.woff') format('woff'),
  url('~@/assets/fonts/Cormorant-Bold.ttf') format('truetype'),
  url('~@/assets/fonts/Cormorant-Bold.svg#Cormorant-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Cormorant';
  src: url('~@/assets/fonts/Cormorant-MediumItalic.eot');
  src: url('~@/assets/fonts/Cormorant-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/Cormorant-MediumItalic.woff2') format('woff2'),
  url('~@/assets/fonts/Cormorant-MediumItalic.woff') format('woff'),
  url('~@/assets/fonts/Cormorant-MediumItalic.ttf') format('truetype'),
  url('~@/assets/fonts/Cormorant-MediumItalic.svg#Cormorant-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}